# ============================================================================
# VARIABLES DE ENTORNO PARA DESPLIEGUE DOCKER (AWS EC2 / PRODUCCIÓN)
# ============================================================================

# Contraseña del usuario 'sa' de SQL Server (Debe cumplir política de complejidad: mayúsculas, minúsculas, números, caracteres especiales)
DB_PASSWORD=YourStrongPassword123!
DB_PORT=1433

# Configuración del Backend (.NET 8)
BACKEND_PORT=5000
JWT_KEY=Cachy0SPruebaB6GyS3ba4stianH0lg++in200216202204!
JWT_ISSUER=InventoryApi
JWT_AUDIENCE=InventoryAngularClient

# Puerto Público del Frontend (Nginx)
FRONTEND_PORT=4200
